# Local .terraform folder (created by terraform init)
# Contains providers and modules; can be several hundred MBs.
.terraform/

# Terraform state files
# These contain the "truth" of your infra and can include sensitive data.
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variables files
# Specifically hide .tfvars as they often contain secrets/keys.
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc